body	{

	}
img		{position: absolute;}

select	{
	border-radius: 5px;
	box-shadow: 1px 1px dark-grey;
	color: maroon;
	
}
textarea	{
	border-radius: 10px;
	
}

.phototext {
	background-color: #FFF8DC;
	font-family: Courier;
	font-color: dark-gray;
	width: 450px;
	z-index: 1;
	position: absolute;
}

.rota {
	background-color: #FFF8DC;
	color: darkblue;
	font-family: Courier;
	float: right;
	padding: 50px;
	/*right: 0px;
	display: inline-block;
	position: absolute;*/
	z-index: 2;
	
	
}


.rota2 {
	background-color: #FFF8DC;
	color: darkblue;
	font-family: Courier;
	padding: 50px;
	z-index: 2;
	
	
}

.rota-inner {
	background-color: #FFF8DC;
	color: darkblue;
	font-family: Courier;
	padding: 50px;
	z-index: 2;
	
}

.toolbar 	{
	top: 1000;
	z-index: 1;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
 // width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline-block;

}


.convo {
	border-radius: 10px;
	box-shadow: 1px 1px #888888;
	padding: 10px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: bold;
	 font-size: 18px;
	 position: absolute;
}



.answerform {
  border-width: 2px;
  padding: 2px;
  margin: 10px;
  border-radius: 10px;
  color: beige;
   font-family: Arial, Helvetica, sans-serif;
}

.incorrect {
  border-color: maroon;
  border: 2px solid maroon;
  box-shadow: 2px 2px maroon;
  background-color: firebrick;
  color: beige;
}

.correct {
  border-color: darkgreen;
   border: 2px solid darkgreen;
  box-shadow: 2px 2px darkgreen;
  background-color: mediumseagreen;

}

.greentext {
	color: darkgreen;
}

@keyframes bgfade-animation {
  from {background-color: white;}
  to {background-color: darkmagenta;}
}

@keyframes textfade-animation {
  from {color: purple;}
  to {color: white;}
}

.textfade {
	 animation-name: textfade-animation;
	animation-duration: 7s;
	animation-fill-mode: forwards;
}

.bgfade {
	animation-name: bgfade-animation;
	animation-duration: 7s;
	animation-fill-mode: forwards;
}

.credits {
	z-index: 3;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid purple;
	box-shadow: 2px 2px indigo;
	color: purple;
	text-align: center;
	top: 300px;
	margin: auto;
	width: 50%;
	position: relative;
   
}




.modal { /* grey overlay */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 1536px; 
  height: 1024px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 

/* Close button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;

  //float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
  
  
.toolbar:hover,
.toolbar:focus {

  cursor: pointer;
}
  
.egg { 
  position: relative;
}
 
.egg:hover,
.egg:focus {

  cursor: pointer;
}