body	{
	//font-family: arial, sans-serif;
	}
img		{position: absolute;}

.phototext {
	background-color: #FFF8DC;
	font-family: Courier;
	font-color: dark-gray;
	width: 450px;
	z-index: 1;
	position: absolute;
}

.rota {
	background-color: #FFF8DC;
	font-color: dark-blue;
	font-family: Courier;
/*	float: right;*/
	padding: 50px;
	
	
}

.toolbar 	{
	top: 1000;
	z-index: 1;
}

.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
 // width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   animation-name: animatetop;
  animation-duration: 0.4s;


}

.answerform {
  border-color: red;
  border: 10px;
  background-color: red;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal { /* grey overlay */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 1536px; 
  height: 1024px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 

/* Close button */
.close {
  color: #aaaaaa;

  font-size: 28px;
  font-weight: bold;
  position: relative; 
  /*absolute should mean relative to its container, relative should mean relative to its default position. Absolute puts it on the left in both cases (idk why); relative puts it on the right for the answer form (as expected) but left for the photo (idk why). Also works correctly (on right) for the rota, which is text only.*/
  z-index: 2;

  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  